.navbar {
    margin: 20px 0;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

nav li {
    margin-right: 15px;
}

.toggleDetailsBtn {
    right: 20px;
    position: absolute;
    cursor: pointer;
}
