.nftIdBadge {
    padding: 10px;
    /*background: lightblue;*/
    border-radius: 3px;
    width: 75px;
    height: 75px;
    margin: 10px;
    align-items: center;
}

.nftIdBadge img {
    width: 75px;
}

.nftIdBadgeActive {

}

.nftIdBadge.nftIdBadgeActive {
    border-width: thick;
    border-style: solid;
}
